<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbarP" href="/home">
        <img src="assets/icono.png" width="150" height="150" class="d-inline-block " alt="">
        IntelliTrack
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <section class="bordeLogin">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text text1 " routerLink="/home">Quienes somos</a>
                </li>
                <li class="nav-item text">
                    <a class="nav-link active"> <span class="sr-only">(current)</span>Productos y servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text" routerLink="">Cotización</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text" routerLink="/login">Iniciar sesión</a>
                </li>

            </ul>
        </section>
    </div>
</nav>
<div class="r">
    <Section class="ProductService">
        <h3 class="e">Nuestros productos y servicios</h3>
        <section class="Servicios">
            <div class="InfoServices">
                <h5>Aplicación web y móvil</h5>
                <img src="assets/plataformas.png" width="150" height="150" alt="">
                <p>Usa IntelliTrack desde su versión web hasta la cómodidad de su dispositívo móvil.</p>
            </div>
            <div class="InfoServices">
                <h5>Monitoreo de procesos de transporte</h5>
                <img src="assets/avion.png" width="150" height="150" alt="">
                <p>Monitoree los procesos de los vehiculos para una mejor confianza de sus envíos.</p>
            </div>
            <div class="InfoServices">
                <h5>Control de procesos de logística</h5>
                <img src="assets/camion.png" width="150" height="150" alt="">
                <p>Monitoree los procesos de bodegas para un mejor control de los productos a enviar.</p>
            </div>
        </section>
    </Section>
</div>





<!-- Site footer -->
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Other Services</h3>
                    <ul>
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">News</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a>
                    <p class="copyright">IntelliTrack © 2023</p>
                </div>
            </div>
        </div>
    </footer>
</div>