<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
            <li class="nav-item">
                <a class="nav-link text" [routerLink]="['/shipment-board/']" href="#" style="color: white;font-weight: 200;">Envíos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/warehouse-list" style="color: white; font-weight: 200;">Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text active" style="color: white; font-weight: 500;" href="#"><span
                    class="sr-only">(current)</span>Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text "  href="#" style="color: white; font-weight: 200;" (click)="logout()">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<h1 class="title">Editar perfil</h1>
<div class = "container">
    
    
    <div class = "columnas">
        <div class = "columna">
            <form (ngSubmit)="onSubmit()">
                <h3>Información de la persona</h3>
                <label for="">Nombre</label>
                <input type="text" placeholder="Nombre" class="form-control custom-input" name="nameAdd" [(ngModel)]="nameClt">
                <label for="">Correo</label>
                <input type="text" placeholder="Correo" class="form-control custom-input" name="emailAdd" [(ngModel)]="emailClt">
                <label for="">Documento</label>
                <input type="text" placeholder="Número de documento" class="form-control custom-input" name="documentAdd" [(ngModel)]="documentClt">
                <button class="btn btn-orange btn-block custom-btn" (ngSubmit)="onSubmit()"> Editar</button>
            </form>
        </div>
        <div class="columna">
            <hr>
        </div>
        
        <div class="columna vertical-center">
           
            <form (ngSubmit)="onSubmit()">
                <h3>Información de la empresa</h3>
                <label for="">Nombre</label>
                <input type="text" placeholder="Nombre de la compañia" class="form-control custom-input" name="socialAdd" [(ngModel)]="socialClt">
                <label for="">NIT</label>
                <input type="text" placeholder="NIT" class="form-control custom-input" name="nitAdd" [(ngModel)]="nitClt">
                <label for="">Dirección</label>
                <input type="text" placeholder="Dirección" class="form-control custom-input" name="dirAdd" [(ngModel)]="dirClt">
                <label for="">Teléfono</label>
                <input type="text" placeholder="Teléfono" class="form-control custom-input" name="phoneAdd" [(ngModel)]="phoneClt">
                <button class="btn btn-orange btn-block custom-btn" (ngSubmit)="onSubmit()"> Editar</button>
            </form>
        </div>
        
    </div>
    
    

</div>

<div class="alert alert-success alert-marge" role="alert" *ngIf="visible">
    ¡Tu perfil fue actualizado exitosamente!
</div>
