.container{
    position: absolute;
    margin-top: 40vh;
    left: 50%;
    transform: translate(-30%, -50%);
}

.columnas{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

hr{ 
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         40vh;
    width:          1px;       
}

.columna{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10%;
}

.btn-orange {
    background-color: #FF6E59; /* aquí puedes cambiar el color de fondo */
    border-color: #FF6E59; /* aquí puedes cambiar el color del borde */
    color: black; /* aquí puedes cambiar el color de la letra */
    border-radius: 20px; 
    width: 10vw;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.custom-input {
    border-radius: 15px;
    background-color: #F2F3F7;
    border: none;
    width: 20vw;
}

input{
    margin-top: 5%;
    height: 30px;
}

button{
    margin-top: 5%;
    height: 30px;
}