<body class="Continer">
    <div class="im">
      <img class="img4" src="assets/icono.png" alt="Título con imagen">
      <h3 class="r">IntelliTrack</h3>
    </div>
    <section class="SeccionSU">
      <h1>Verifica tu correo</h1>
      <h4>Tu cuenta esta en revision porfavor revisa tu bandeja de entrada del correo </h4> 
      <h3 style="color: dimgray;">{{Email}}</h3>
      <div class="form-group">
        <button class="btn btn-orange btn-block custom-btn" (click)="iniciarSesion()" style="font-size: 20px;">Iniciar Sesion</button>
      </div>
    </section>
  </body>
