<div>
    <div class="col-md-6">
        <h1>Puedes disponer de nuestros servicios usando tu dispositivo móvil.</h1>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="/assets/appStoreBrand.png" alt="Imagen 1" class="mr-3 imgp">
            <img src="/assets/googlePlayBrand.png" alt="Imagen 2" class="imgp">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img src="/assets/phone3.png" alt="Imagen 3" class="mr-3 imgl">
        <img src="/assets/phone1.png" alt="Imagen 1" class="imgl">
        <img src="/assets/phone2.png" alt="Imagen 2" class="mr-3  imgl">
    </div>
</div>