<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
            <li class="nav-item">
                <a class="nav-link text" [routerLink]="['/shipment-board/']"
                    style="color: white;font-weight: 200;">Envíos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text active" style="color: white; font-weight: 500;"><span
                        class="sr-only">(current)</span>Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/edit-profile-client" style="color: white; font-weight: 200;"
                    href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text " href="#" style="color: white; font-weight: 200;" (click)="logout()">Cerrar
                    sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="pad">
    <h2>Bodegas disponibles</h2>
    <div class="input-group pb-2">
        <div class="filter-ware">
            <span class="">Filtrar por ciudad</span>
            <select class="form-select filter-ware" name="cities" id="cities" *ngIf="cities" [(ngModel)]="selectedCity">
                <option value=""></option>
                <option [ngValue]="city" *ngFor="let city of cities">{{city.name}}</option>
            </select>
        </div>
        <div class="filter-ware">
            <span class="">Filtrar por tipo</span>
            <select class="form-select" name="types" id="types" *ngIf="types" [(ngModel)]="selectedType">
                <option value=""></option>
                <option [ngValue]="type" *ngFor="let type of types">{{type.name}}</option>
            </select>
        </div>
        <div class="vertical filter-ware">
            <span class="">Capacidad</span>
            <input type="number" class="form-control search-input" placeholder="m³" id="validationDefault01" class=""
                [(ngModel)]="capacity">
        </div>
        <form (ngSubmit)="onSearchSubmit()">
            <button class="btn btn-outline-secondary border-0 search bu">
                <i class="fa  fa-search"></i>
            </button>
        </form>
    </div>

    <div class="input-group pb-2">
        <p class="note-ware">
            Seleccione una bodega de la tabla
        </p>
    </div>


    <div class="table-responsive  ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Costo por m³</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="infoWarehouses">
                    <tr *ngFor="let infoWarehouse of infoWarehouses" class="clickableRow"
                        [routerLink]="['/warehouse-info/', infoWarehouse.id]">
                        <td scope="row">{{infoWarehouse.id}}</td>
                        <td>{{infoWarehouse.city.name}}</td>
                        <td>{{infoWarehouse.address}}</td>
                        <td>{{infoWarehouse.capacity}}</td>
                        <td>{{infoWarehouse.type.name}}</td>
                        <td>COP {{infoWarehouse.costPerM3}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>