<body class="Continer">
    <div class="im">
        <img class="img4"src="assets/icono.png" alt="Título con imagen">
        <h3 class="r">IntelliTrack</h3>
    </div> 
    <section class="SeccionLG">
        <h1 class="tittle">¿Haz olvidado la contraseña?</h1>
        <p>Te enviaremos un enlace a tu correo para poder cambiar la contraseña.</p>
        <div class="form-group">
            <input placeholder="Correo Electronico" type="text" class="form-control custom-input"
              name="Correo Electronico" [(ngModel)]="form.username" required #username="ngModel" />
          </div>
        <div class="form-group">
            <button class="btn btn-orange btn-block custom-btn" routerLink="/change-password-s"
              style="font-size: 140%;">
              Enviarme enlace
            </button>
          </div>
        <a routerLink="/login">o inicia sesión</a>
    </section>
</body>
