.Continer {
  background: url(src/assets/backgroundLandscape.png) no-repeat center;
  background-size: cover;
}

.SeccionLG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 450px;
  max-width: 500px;
  max-height: 600px;
}



.r {
    margin-top: 50px;
  font-size: 290%;
}


.imgPlane {
    display: block;
  width: 380px;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
  }

  .form-group {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
  }
.tittle {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 380%;
}

.im{
    display: flex;
}

p{
    text-align: center;
    font-size: 150%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

a{
    display: block;
    font-size: 150%;
    text-align: center;
    color: #7da789;
}

.img4{
    width: 150px;
    height: 150px;
}

.btn-orange {
    margin-top: 20px;
    height: 35px;
    background-color: #ff6e59;
    /* aquí puedes cambiar el color de fondo */
    border-color: #ff6e59;
    /* aquí puedes cambiar el color del borde */
    color: white;
    /* aquí puedes cambiar el color de la letra */
    border-radius: 10px;
    /* aquí puedes cambiar el radio de los bordes */
  }
  
  .custom-input {
    height: 35px;
    border-radius: 10px;
    font-size: 150%;
    background-color: #f2f3f7;
    border: none;
  }

  .custom-btn:focus,
  .custom-btn:hover {
    background-color: #ff6e59;
    /* aquí puedes cambiar el color de fondo en estado :hover y :focus */
    border-color: #ff6e59;
    /* aquí puedes cambiar el color del borde en estado :hover y :focus */
    color: black;
    /* aquí puedes cambiar el color de la letra en estado :hover y :focus */
    box-shadow: none;
    /* aquí puedes cambiar la sombra */
  }