<nav class="navbar navbar-expand-lg navbar-light x">
  <a class="navbar-brand" href="#">
    <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text" routerLink="/manager-list-warehouse" href="#"
          style="color: white;font-weight: 200;">Bodegas</a>
      </li><!-- Agregar la clase ml-auto -->
      <li class="nav-item">
        <a class="nav-link text" href="#" style="color: white;font-weight: 200;">Rutas</a>
      </li>
      <li class="nav-item text">
        <a class="nav-link" href="/operator-list" style="color: white; font-weight: 200;">Operadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" style="color: white; font-weight: 500;">Conductores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text  active" routerLink="/manager-list" style="color: white; font-weight: 200;"><span
            class="sr-only">(current)</span>Gerentes</a>
      </li>
      <li class="nav-item" hidden>
        <a class="nav-link text" style="color: white; font-weight: 200;" href="#">Gastos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" style="color: white; font-weight: 200;" href="#">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text " style="color: white; font-weight: 200;">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>

  <div class = "container">
    <div class = "columnas">
        <div class = "columna">
            <h1>Editar perfil</h1>
            <form (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Nombre" class="form-control custom-input" name="nameAdd" [(ngModel)]="nameDri">
                <input type="text" placeholder="Correo" class="form-control custom-input" name="emailAdd" [(ngModel)]="emailDri">
                <input type="text" placeholder="Número de documento" class="form-control custom-input" name="documentAdd" [(ngModel)]="documentDri">
                <input type="text" placeholder="Telefono" class="form-control custom-input" name="phoneAdd" [(ngModel)]="phoneDri">
                <input type="text" placeholder="Ubicación" class="form-control custom-input" name="locationAdd" [(ngModel)]="locDri">
                <input type="text" placeholder="Placa de vehículo a cargo" class="form-control custom-input" name="plate" [(ngModel)]="plate">
                <h3>Licencia</h3>
                <input type="text" placeholder="Licencia" class="form-control custom-input" name="lisAdd" [(ngModel)]="license">
                <button class="btn btn-orange btn-block custom-btn" (ngSubmit)="onSubmit()"> Editar</button>
            </form>
            <div class="alert alert-success alert-marge" role="alert" *ngIf="visible">
                ¡Tu perfil fue actualizado exitosamente!
            </div>
        </div>
        <div class="columna">
            <hr>
        </div>
        
        <div class="columna vertical-center">
           
            <form (ngSubmit)="onPasswordSubmit()">
                <h3>Cambiar contraseña</h3>
                <input type="text" placeholder="Contraseña actual" class="form-control custom-input" name="nameAdd" [(ngModel)]="passwordOld">
                <input type="text" placeholder="Contraseña nueva" class="form-control custom-input" name="idAdd" [(ngModel)]="passwordNew">
                
                <button class="btn btn-orange btn-block custom-btn" (ngSubmit)="onPasswordSubmit()"> Cambiar contraseña</button>
            </form>
        </div>
    </div>
    

</div>
