
<div class = "container">


  <div class = "columnas">
      <div class = "columna">
          <form (ngSubmit)="onSubmit()">
              <h3>Información extra</h3>

              <input type="text" class="form-control custom-input" name="nameAdd" [(ngModel)]="comment">

              <button class="btn btn-orange btn-block custom-btn" (ngSubmit)="onSubmit()"> Editar</button>
              <button class="btn btn-white btn-block custom-btn" (ngSubmit)="onCancel()"> Cancelar</button>
          </form>
      </div>
  </div>
</div>
