<Section class="Container">
    <h3>Agregar gerente</h3>
    <div class="Columnas">
        <div class="Columna">
            <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Nombre"
                    name="Nombre"
                    required
                    minlength="3"
                    maxlength="20"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Correo electronico"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Numero Telefono"
                    type="text"
                    class="form-control custom-input"
                    required
                    minlength="6"
                  />
                </div>
              </form>
        </div>
        <div class="Columna">
            <form>
                <div class="form-group">
                    <input
                      placeholder="Puesto Cargo"
                      type="text"
                      class="form-control custom-input"
                      required
                      minlength="6"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      placeholder="Direccion"
                      type="text"
                      class="form-control custom-input"
                      required
                      minlength="6"
                    />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-orange btn-block custom-btn">Registrar</button>
                  </div>
            </form>
        </div>
    </div>
</Section>
