header {
  background-size: cover;
  min-height: 100vh;
}

.bordeLogin {
  background-color: #ff6e59;
  padding: 10px;
}

.navbar-brand {
  font-size: 44px; /* ajusta el tamaño de la fuente a 24 píxeles */
}

li {
  float: right;
}

.nav-link {
  margin-right: 20px;
  color: white;
}

.bu {
  font-size: 14px;
}

.pad {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.no-border {
  border: none;
}

h2 {
  margin-bottom: 2%;
}
.x {
  background-color: #ff6e59;
}

.text {
  font-size: large;
}

.navbar-nav {
  text-align: left;
}
.container{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.Content {
  width: 100%;
  height: 80vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.Columnas {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.custom-input {
  border-radius: 15px;
  background-color: #f2f3f7;
  border: none;
  height: 35px;
  width: 300px;
}

.btn-orange {
  background-color: #ff6e59; /* aquí puedes cambiar el color de fondo */
  border-color: #ff6e59; /* aquí puedes cambiar el color del borde */
  color: black; /* aquí puedes cambiar el color de la letra */
  border-radius: 20px;
  height: 35px;
  width: 200px;
}
