.Continer {
  background: url(src/assets/backgroundLandscape.png) no-repeat center;
  background-size: cover;
}

.SeccionLG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 450px;
  max-width: 500px;
  max-height: 600px;
  display: flex;
  flex-direction: row;
}

.mi-seccion-columna {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}

.sss{
  width: 100px;
  height: 180px;
}

.mi-seccion-titulo {
  text-align: center;
  display: flex;
  align-items: center;
}

.r {
  margin-top: 50px;
font-size: 290%;
}

.mi-seccion-titulo img {
  width: 30%;
}
.mi-seccion-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.mi-seccion-columna-derecha img {
  width: 105%;
  height: 100%;
}

.card-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
.im{
  display: flex;
}
.img4{
  width: 150px;
  height: 150px;
}
.alert {
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.custom-input {
  height: 35px;
  border-radius: 15px;
  font-size: 150%;
  background-color: #f2f3f7;
  border: none;
}

.formContainer {
  padding-left: 40px;
  padding-right: 40px;
}

.Bienvenido {
  margin-top: 50px;
  font-size: 350%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.btn-orange {
  margin-top: 20px;
  height: 35px;
  background-color: #ff6e59;
  /* aquí puedes cambiar el color de fondo */
  border-color: #ff6e59;
  /* aquí puedes cambiar el color del borde */
  color: white;
  /* aquí puedes cambiar el color de la letra */
  border-radius: 20px;
  /* aquí puedes cambiar el radio de los bordes */
}

.custom-btn:focus,
.custom-btn:hover {
  background-color: #ff6e59;
  /* aquí puedes cambiar el color de fondo en estado :hover y :focus */
  border-color: #ff6e59;
  /* aquí puedes cambiar el color del borde en estado :hover y :focus */
  color: black;
  /* aquí puedes cambiar el color de la letra en estado :hover y :focus */
  box-shadow: none;
  /* aquí puedes cambiar la sombra */
}

.registroconten {
  margin-top: 20px;
  text-align: center;
  text-decoration-color: #a1a4b2;
}

.textRegistrarce {
  color: #ff6e59;
}

.forgot{
  font-size: 140%;
  color: #7da789;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}