<body class="Continer">
    <div class="im">
        <img class="img4"src="assets/icono.png" alt="Título con imagen">
        <h3 class="r">IntelliTrack</h3>
    </div>
    <section class="SeccionLG">
        <h1 class="tittle">Crea una nueva contraseña</h1>
        <!--<div class="form-group">
            <input placeholder="Introduce nueva contraseña" type="text" class="form-control custom-input"
              name="new password" [(ngModel)]="form.new" required #new="ngModel" />
        </div>
        <div class="form-group">
            <input placeholder="Confirma la contraseña" type="text" class="form-control custom-input"
              name="password confirmation" [(ngModel)]="form.confirmation" required #confirmation="ngModel" />
        </div>-->
        <div class="form-group">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            class="form-control custom-input"
            name="password1"
            placeholder="Contraseña"
            [(ngModel)]="form.password"
            required
            minlength="10"
            name="password"
            #password1="ngModel"
            (ngModelChange)="validatePasswords()"
          />
          <div class="input-group-append">
            <span class="input-group-text"
                  style="cursor: pointer;"
                  (click)="showPassword = !showPassword">
              <i class="fa fa-eye{{ showPassword ? '-slash' : '' }}" aria-hidden="true"></i>
            </span>
          </div>
          <div *ngIf="form.passwordisValid" class="text-danger">
            Ingrese Contraseña invalida, minimo 1 mayuscula, minuscula,un simbolo y minimo 10 digitos
          </div>
        </div>
        <div class="form-group">
          <input
            placeholder="Confirmar Contraseña"
            type="password"
            class="form-control custom-input"
            name="password"
            [(ngModel)]="form.password1"
            name="password1"
            required
            minlength="10"
            #password="ngModel"
            (ngModelChange)="validatePasswords()"
          />
          <div *ngIf="form.passwordMismatch" class="text-danger">
            Las contraseñas no coinciden
          </div>
        </div>
        <div class="form-group">
            <button class="btn btn-orange btn-block custom-btn" (click)="Change()"
              style="font-size: 140%;">
              Cambiar contraseña
            </button>
          </div>
    </section>
</body>
