<body class="Continer">
    <div class="im">
        <img class="img4"src="assets/icono.png" alt="Título con imagen">
        <h3 class="r">IntelliTrack</h3>
    </div> 
    <section class="SeccionLG">
        <h1 class="tittle">Crea una nueva contraseña</h1>
        <div class="form-group">
            <input placeholder="Introduce nueva contraseña" type="text" class="form-control custom-input"
              name="new password" [(ngModel)]="form.new" required #new="ngModel" />
        </div>
        <div class="form-group">
            <input placeholder="Confirma la contraseña" type="text" class="form-control custom-input"
              name="password confirmation" [(ngModel)]="form.confirmation" required #confirmation="ngModel" />
        </div>
        <div class="form-group">
            <button class="btn btn-orange btn-block custom-btn" routerLink="/change-password-s"
              style="font-size: 140%;">
              Crear contraseña
            </button>
          </div>
    </section>
</body>
