<nav class="navbar navbar-expand-lg navbar-light x">
  <a class="navbar-brand" href="#">
    <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text" routerLink="/manager-list-warehouse" style="color: white;font-weight: 200;">Bodega</a>
      </li><!-- Agregar la clase ml-auto -->
      <li class="nav-item">
        <a class="nav-link text" href="#" style="color: white; font-weight: 200;">Rutas</a>
      </li>
      <li class="nav-item text">
        <a class="nav-link" routerLink="/operator-list" style="color: white; font-weight: 200;">Operadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text active" routerLink="/drivers-list" style="color: white; font-weight: 500;"><span
            class="sr-only">(current)</span>Conductores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" routerLink="/manager-list" style="color: white; font-weight: 200;">Gerentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" href="#" style="color: white; font-weight: 200;">Gastos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" href="#" style="color: white;font-weight: 200;">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text " style="color: white; font-weight: 200;">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>
<Section class="Container">
  <h3 style="font-size: 200%;">Agregar conductor</h3>
  <div class="Columnas">
    <div class="Columna">
      <form>
        <div class="form-group">
          <input type="text" class="form-control custom-input" placeholder="Nombre" name="Nombre" required minlength="3"
            maxlength="20" [(ngModel)]="nameDri" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control custom-input" placeholder="Identificación" name="Identificación"
            required minlength="3" maxlength="20" [(ngModel)]="documentDri" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control custom-input" placeholder="Dirección" name="location" required minlength="3"
            maxlength="20" [(ngModel)]="locationDri" />
        </div>
        <div class="form-group">
          <input placeholder="Numero Telefono" type="number" class="form-control custom-input" name="telefono" required minlength="6"
            [(ngModel)]="phoneDri" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control custom-input" name="correo" placeholder="Correo electronico" required minlength="6"
            [(ngModel)]="emailDri" />
        </div>

      </form>
    </div>
    <div class="Columna">
      <form>
        <div class="form-group">
          <input placeholder="Placa" type="text" class="form-control custom-input" name="placa" required minlength="6" [(ngModel)]="plateDri"/>
        </div>
        <div class="form-group">
          <select class="form-control custom-input" required [(ngModel)]="selectedCity">
            <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="checkbox" [checked]="driverExt" (change)="driverExt = !driverExt" /> Conductor externo
        </div>
        <div class="form-group" *ngIf="driverExt">
          <label for="Profile Photo" class="label-driv">Foto de la licencia:</label> <input type="file" name="photo" size="50" (change)="onFilePhotoSelected($event)" #fileUpload/>
          <label for="Profile Photo" class="label-driv">Documento PDF de la revisión mecanica:</label> <input type="file" name="photo" size="50" (change)="onFileSelected($event)" #fileUpload/>
        </div>
        <div class="form-group">
          <button class="btn btn-orange btn-block custom-btn" (click)="onSubmit()">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</Section>