.x {
    background-color: #ff6e59;
}

.col-md-6 {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.col-custom {
    width: 50%;
}

.row {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.table1 {
    font-size: 15px;
}

.greyLne {
    color: lightgray;
}

.header {
    margin-top: 40px;
    margin-left: 80px;
}

.f {
    font-size: 14px;
}

.top{
    margin-top: 40px;
}

.border{
    font-size: 14px;
}

.custom-input{
    font-size: 14px;
}

.bu{
    font-size: 14px;
}

.table-responsive{
    font-size: 14px;
}

.no-border {
    border: none;
  }

  .price{
    margin-top: 30px;
  }

  .but{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-orange {
    background-color: #ff6e59; /* aquí puedes cambiar el color de fondo */
    border-color: #ff6e59; /* aquí puedes cambiar el color del borde */
    color: white; /* aquí puedes cambiar el color de la letra */
    border-radius: 20px;
    font-size: 150%;
    width: 200px;
  }

  .custom-input{
    font-size: 150%;
}
select.form-control option:first-child {
    color: white;
  }

  .custom-input {
    border-radius: 10px;
    background-color: #f2f3f7;
    border: none;
  }