<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="header">
    <h1>Programar un envío</h1>
    <br>
    <p class="f">Por favor llena todos los campos para programar un envío de paquetes</p>
</div>
<div class="row">
    <div class="col-custom border-right pr-5 pl-5">
        <h3>Origen</h3>
        <br>
        <div class="form-group">
            <select class="form-control custom-input" required [(ngModel)]="selectedOrigin" name="selectOrigin">
                <option value="null" disabled selected style="color: darkgray;">Ciudad de origen</option>
                <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
            </select>
        </div>

        <br>

    </div>
    <div class="x1 col-custom pl-5 pr-5">
        <h3>Destino</h3>
        <br>
        <div class="form-group">
            <select class="form-control custom-input" required [(ngModel)]="selectedDes" name="selectedDes">
                <option value="null" disabled selected style="color: darkgray;">Ciudad de destino</option>
                <ng-container *ngFor="let city of cities">
                    <ng-container *ngIf="city.name !== selectedOrigin?.name">
                        <option [ngValue]="city">{{ city.name }}</option>
                    </ng-container>
                </ng-container>
            </select>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-custom  pr-5 pl-5">
        <h3>Información de los productos</h3>
        <br>
        <div class="input-group pb-2">
            <div class="form-group">
                <select class="form-control custom-input" required [(ngModel)]="selectedCategory" name="selectedCat">
                    <option value="" disabled selected>Categoria</option>
                    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
                </select>
            </div>
            <input type="text" class="form-control border ml-3 custom-input" required placeholder="Nombre"
                [(ngModel)]="name">

            <input [(ngModel)]="weight" type="number" class="form-control ml-3 custom-input" required
                placeholder="Peso (kg)" [value]="''">

            <input [(ngModel)]="volume" type="number" class="form-control border ml-3 custom-input" required
                placeholder="Volume" [value]="''">

            <div class="input-group-append ml-5">
                <button class="btn btn-outline-secondary border-0 bu" type="button"
                    (click)="addProduct(selectedCategory, name, weight!, volume!)">
                    <i class="fa fa-plus"></i> Agregar producto
                </button>
            </div>
        </div>
        <br>
        <div style="padding-top: 3%;" class="table-responsive  ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Categoria</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Volumen</th>
                        <th class="no-border"></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="products">
                        <tr *ngFor="let product of products; let i = index" [class.updated]="tableUpdated">
                            <td scope="row">{{product.category}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.weight}}</td>
                            <td>{{product.volume}}</td>
                            <td class="no-border">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-lg ml-2" type="button" (click)="deleteProduct(product)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>
    <div class="x1 col-custom pl-5 pr-5">
        <div class="top">
            <div class="input-group pb-2">
                <div class="ml-2 mr-2">
                    <label class="date-label" for="fecha_salida" style="font-size: 13px;">Fecha de salida</label>
                    <input type="date" class="form-control custom-input1" id="fecha_salida" required
                        placeholder="Fecha de entrega" [(ngModel)]="departureDate">
                </div>

                <div class="ml-2 mr-2">
                    <label class="date-label" for="fecha_llegada" style="font-size: 13px;">Fecha de llegada</label>
                    <input type="date" class="form-control custom-input1" id="fecha_llegada" required
                        placeholder="Fecha de entrega" [(ngModel)]="arriveDate">
                </div>
                <div class="ml-2 mr-2 topi ">
                    <select class="form-control custom-input1" required [(ngModel)]="deliveryType" name="selectedType">
                        <option value="" disabled selected>Tipo de envío</option>
                        <option *ngFor="let type of deliveryTypes" [value]="type">{{ type }}</option>
                    </select>
                </div>
            </div>
            <div class="ml-2 mr-2 mt-5">
                <input type="text" class="form-control custom-input" id="comments" required
                    placeholder="Comentarios del envío">
            </div>
            <div class="input-group-append ml-5 but">
                <button class="btn btn-orange btn-block custom-btn bu" type="button"
                    (click)="arriveDate && program(selectedOrigin!, selectedDes!, arriveDate, departureDate, deliveryType)">
                    Programar
                </button>
            </div>
            <div class="ml-5 price" *ngIf="showprice">
                <br>
                <br>
                <h5 [class.updated]="showprice">Tarifa de servicio es: {{price}}</h5>
                <br>
                <div class="input-group-append ml-5 but">
                    <button class="btn btn-orange btn-block custom-btn bu" type="button"
                        [routerLink]="['/shipment-board/']">
                        Volver al inicio
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>