<div class="Container" style="margin-bottom: 50px;">
    <h2>Cotiza con nosotros</h2>
    <p style="margin-bottom: 3%;">Puedes cotizar nuestros servicios con los siguientes datos:</p>
    <div class="Columnas">
        <div class="Columna">
            <form style="margin-top: 5%;">
                <div class="form-group">
                    <div class="form-group">
                        <select class="form-control custom-input" required [(ngModel)]="selectedLoad" name="selectedLoad">
                            <option value="" disabled selected>Tipo de carga según su volúmen</option>
                            <option *ngFor="let load of typeLoad" [value]="load">{{ load }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control custom-input" required [(ngModel)]="selectedOriginIndex" name="selectOrigin">
                            <option value="null" disabled selected style="color: darkgray;">Ciudad de origen</option>
                            <option *ngFor="let city of cities; let i = index" [value]="i">{{ city.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control custom-input" required [(ngModel)]="selectedDesIndex" name="selectedDes">
                            <option value="null" disabled selected style="color: darkgray;">Ciudad de destino</option>
                            <ng-container *ngFor="let city of cities; let i = index"> 
                                <option *ngIf="i != selectedOriginIndex" [value]="i">{{ city.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                    <input [(ngModel)]="weight" type="number" class="form-control datepicker custom-input mb-3" name="weight" required placeholder="Peso (t)" [value]="''">

                    <input [(ngModel)]="volume" type="number" class="form-control datepicker custom-input mb-3" name="volume" required placeholder="Volumen (m³)" [value]="''">
                    <div class="form-group">
                        <label class="date-label" for="fecha" style="font-size: 13px;">Fecha de salida</label>
                        <input type="date" class="form-control datepicker custom-input" name="fecha" [(ngModel)]="selectedDepartureDate" [min]="today"/>
                    </div>
                    <div class="form-group">
                        <label class="date-label" for="fecha" style="font-size: 13px;">Fecha de entrega</label>
                        <input type="date" class="form-control datepicker custom-input" name="fecha" [(ngModel)]="selectedArriveDate" [min]="today" />
                    </div>
                    
                    <button class="btn btn-orange btn-block custom-btn" 
                    (click)="quoteHome(selectedLoad, selectedOriginIndex!, selectedDesIndex!, weight!,volume!, selectedArriveDate, selectedDepartureDate)">
                    Cotizar</button>
                </div>
            </form>
        </div>
        <div class="Columna2 ml-5">
            <img src="assets/brandquote.png" width="400" height="400" class="d-inline-block " alt="">
            <p class="infoImage">El precio por usar nuestro servicio con sus especifícaciones es:</p>
            <p class="infoQuote" [class.updated]="showPrice">{{price}}</p>
        </div>
    </div>

</div>