<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light x">
            <a class="navbar-brand" href="#">
                <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
                    <li class="nav-item">
                        <a class="nav-link text " href="#" style="color: white; font-weight: 200;" (click)="logout()">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
            <a>
                <img src="../../assets/logoApp.png" class="img-fluid back" (click)="backClicked()">
            </a>
        </div>
        <p>Disponible en próximas versiones 😼</p>
    </div>
</div>