<div id="app">
  <header class="header" *ngIf="!initLogin">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">
        <img src="assets/icono.png" width="200" height="200" class="d-inline-block align-center" alt="">
        IntelliTrack
      </a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>
      <section class="bordeLogin">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a href="/prdServic" class="nav-link" routerLink="prdServic">Productos y servicios</a>
          </li>
          <li  class="nav-item" (click)="navegarAPantallaLogin()">
            <a class="nav-link">Iniciar sesion</a>
          </li>
        </ul>
      </section>

      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </header>
  <header *ngIf="initLogin">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</header>
</div>

  
