.Columnas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Columna {
    display: flex;
    flex-direction: column;
}

.btn-orange {
    background-color: #FF6E59;
    /* aquí puedes cambiar el color de fondo */
    border-color: #FF6E59;
    /* aquí puedes cambiar el color del borde */
    color: black;
    /* aquí puedes cambiar el color de la letra */
    border-radius: 20px;
    width: 10vw;
    height: 30px;
}

.btn-quote{
    margin-top: 15%;
}

.bordeLogin {
    background-color: #ff6e59;
    padding: 10px;
}

.navbar-brand {
    font-size: 44px;
    /* ajusta el tamaño de la fuente a 24 píxeles */
}

li {
    float: right;
}

.nav-link {
    margin-right: 20px;

}

.bu {
    font-size: 14px;
}

.pad {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.no-border {
    border: none;
}

.text {
    font-size: large;
}


.x {
    background-color: #ff6e59;
}

.navbar-nav {
    text-align: left;
}

span {
    font-size: 2em;
    margin-top: 20%;
}

.span-data {
    font-weight: 100;
}

.span-info {
    margin-top: 10%;
}

label {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 5%;
}

.idw {
    font-weight: 100;
    margin-top: 2%;
}

.input-quote {
    height: 4vh;
    margin-top: 5%;
    text-align: center;
}

.title-select {
    font-size: 10pt;
    margin-bottom: 5%;
}


.form-vertical {
    display: flex;
    flex-direction: column;
}

.form-package {
    display: flex;
    flex-direction: row;
}

.input-package {
    border-radius: 15px;
    font-size: 150%;
    background-color: #F2F3F7;
    width: 10vw;
    border: none;
    margin-right: 2%;
}

.error-pack{
    color: #FF6E59;
    margin-left: 2%;
  }

.my-custom-scrollbar {
    position: relative;
    margin-top: 5%;
    height: 30vh;
    margin-bottom: 5%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.add-package{
    margin-top: 5%;
    margin-right: 5%;
}