<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
            <li class="nav-item">
                <a class="nav-link text" [routerLink]="['/shipment-board/']"
                    style="color: white;font-weight: 200;">Envíos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text active" style="color: white; font-weight: 500;"><span
                        class="sr-only">(current)</span>Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/edit-profile-client" style="color: white; font-weight: 200;"
                    href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text "  href="#" style="color: white; font-weight: 200;" >Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="pad">
    <h2>Reservaciones en bodegas</h2>
    <div class="input-group pb-2">
        <p class="note-ware">
            Para reservar un nuevo espacio donde guardar sus articulos debe darle al botón para mirar las bodegas disponibles
        </p>
        <form >
            <button class="btn btn-outline-secondary bu" routerLink="/warehouse-list-client">
              <i class="fa fa-search"></i> Buscar bodegas
            </button>
          </form>
    </div>


    <div style="padding-top: 3%;" class="table-responsive  ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre de la carga</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Volumen</th>
                    <th scope="col">Ubicación de la bodega</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="infoPackages">
                    <tr *ngFor="let infoPackage of infoPackages">
                        <td scope="row">{{infoPackage.id}}</td>
                        <td>{{infoPackage.type}}</td>
                        <td>{{infoPackage.weight}}</td>
                        <td>{{infoPackage.volume}}</td>
                        <td>{{infoPackage.location}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
