<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
            <li class="nav-item">
                <a class="nav-link text" href="#" style="color: white;font-weight: 200;">Envíos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text active" style="color: white; font-weight: 500;"><span
                        class="sr-only">(current)</span>Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" style="color: white; font-weight: 200;" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text " style="color: white; font-weight: 200;">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>

<div class="pad">
    <h2>Bodegas</h2>
    <div class="input-group pb-2">
        <select name="cities" id="cities"  [(ngModel)]="selectedCity">
            <option value="">  </option>
            <option [ngValue]="city" *ngFor="let city of cities">{{city}}</option>
        </select>
        <select class="form-select" name="types" id="types" [(ngModel)]="selectedType">
            <option value="">  </option>
            <option [ngValue]="type" *ngFor="let type of types">{{type}}</option>
        </select>
        <input type="number" placeholder="Capacidad requerida" class="form-control border" [(ngModel)]="capacity">
        <div class="input-group-append ml-5">
            <form (ngSubmit)="onSearchSubmit()">
                <button class="btn btn-outline-secondary border-0  bu">
                    <i class="fa fa-search"></i> 
                </button>
            </form>
        </div>
    </div>


    <div style="padding-top: 3%;" class="table-responsive  ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Costo por m3</th>
                    <th class="no-border"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="infoWarehouses">
                    <tr *ngFor="let infoOperator of infoWarehouses">
                        <td scope="row">{{infoOperator.id}}</td>
                        <td>{{infoOperator.id}}</td>
                        <td>{{infoOperator.city}}</td>
                        <td>{{infoOperator.address}}</td>
                        <td>{{infoOperator.capacity}}</td>
                        <td>{{infoOperator.type}}</td>
                        <td>{{infoOperator.costPerM3}}</td>
                        <td class="no-border">
                            <div class="btn-group" role="group">
                                <button class="btn btn-lg" type="button">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-lg ml-2" type="button">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>