header {
    background-size: cover;
    min-height: 100vh;
  }
  
  .bordeLogin {
    background-color: #ff6e59;
    padding: 10px;
  }
  
  .navbar-brand {
    font-size: 44px; /* ajusta el tamaño de la fuente a 24 píxeles */
  }
  
  li {
    float: right;
  }
  
  .nav-link {
    margin-right: 20px;
    color: white;
  }
  
  .bu {
    font-size: 14px;
  }
  
  .pad {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .no-border {
    border: none;
  }
  
  h2 {
    margin-bottom: 2%;
  }
  .x {
    background-color: #ff6e59;
  }
  
  .text {
    font-size: large;
  }
  
  .navbar-nav {
    text-align: left;
  }
.container{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.btn-orange {
    background-color: #FF6E59; /* aquí puedes cambiar el color de fondo */
    border-color: #FF6E59; /* aquí puedes cambiar el color del borde */
    color: black; /* aquí puedes cambiar el color de la letra */
    border-radius: 20px; 
    width: 10vw;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 10px;
}

.custom-input {
    border-radius: 15px;
    background-color: #F2F3F7;
    border: none;
    width: 20vw;
}

input{
    margin: 2%;
}

button{
    margin: 2%
}

.bordeLogin {
    background-color: #ff6e59;
    padding: 10px;
}

.navbar-brand {
    font-size: 44px;
    /* ajusta el tamaño de la fuente a 24 píxeles */
}

span{
  margin-left: 2%;
}

li {
    float: right;
}

.nav-link {
    margin-right: 20px;

}

.bu {
    font-size: 14px;
}

.pad {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.no-border {
    border: none;
}

.x {
    background-color: #ff6e59;
}

.text {
    font-size: large;
}

.navbar-nav {
    text-align: left;
}

h2 {
    margin-bottom: 2%;
}