<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
      <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text" routerLink="/client-requests" href="#" style="color: white; font-weight: 200;">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/manager-list-warehouse" href="#"
            style="color: white;font-weight: 200;">Bodegas</a>
        </li><!-- Agregar la clase ml-auto -->
        <li class="nav-item">
          <a class="nav-link text" routerLink="/not-yet-implemented" style="color: white;font-weight: 200;">Rutas</a>
        </li>
        <li class="nav-item text active">
          <a class="nav-link" style="color: white; font-weight: 500;">Operadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/driver-list" style="color: white; font-weight: 200;">Conductores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text "  href="/manager-list" style="color: white; font-weight: 200;">Gerentes</a>
        </li>
        <li class="nav-item" hidden>
          <a class="nav-link text" style="color: white; font-weight: 200;" routerLink="/not-yet-implemented">Gastos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" style="color: white; font-weight: 200;" routerLink="/not-yet-implemented">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text " href="#" style="color: white; font-weight: 200;" (click)="logout()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
<Section class="Content">
  <div class="Columnas">
    <div class="Columna">
      <h3>Editar Perfil</h3>
      <form (ngSubmit)="onSubmit()" class="was-validated" name="formOpt">
        <input type="email" placeholder="Correo" class="form-control custom-input" name="correoEdit" [(ngModel)]="mailOpt">
        <input type="number" placeholder="numero" class="form-control custom-input" name="numberEdit" [(ngModel)]="numberOpt">
        <button type="submit" class="btn btn-clear btn-block custom-btn"> Crear</button>
      </form>
    </div>
  </div>
</Section>
