<nav class="navbar navbar-expand-lg navbar-light x">
  <a class="navbar-brand" href="#">
      <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
          <li class="nav-item">
              <a class="nav-link text" href="#" style="color: white; font-weight: 200;">Rutas</a>
          </li>
          <li class="nav-item text">
              <a class="nav-link" routerLink="/operator-create" style="color: white; font-weight: 200;">Operadores</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text active"  style="color: white; font-weight: 500;"><span class="sr-only">(current)</span>Conductores</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text" routerLink="/manager-list" style="color: white; font-weight: 200;">Gerentes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text" href="#" style="color: white; font-weight: 200;">Gastos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text" href="#" style="color: white;font-weight: 200;">Perfil</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text " style="color: white; font-weight: 200;">Cerrar sesión</a>
          </li>
      </ul>
  </div>
</nav>
<Section class="Content">
    <div class="Columnas">
        <div class="Columna">
            <h3>Editar Perfil</h3>
            <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Nombre"
                    name="Nombre"
                    required
                    minlength="3"
                    maxlength="20"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Correo electronico"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Numero Telefono"
                    type="text"
                    class="form-control custom-input"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                    <input
                      placeholder="Direccion"
                      type="text"
                      class="form-control custom-input"
                      required
                      minlength="6"
                    />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-orange btn-block custom-btn">
                      Guardar
                    </button>
                  </div>
              </form>
        </div>
        <div class="Columna">
            <h3>Cambiar contraseña</h3>
            <form>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control custom-input"
                    name="password1"
                    placeholder="Contraseña"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Confirmar Contraseña"
                    type="password"
                    class="form-control custom-input"
                    name="password"
                    required
                    minlength="6"
                  />
      
                </div>
                <div class="form-group">
                    <button class="btn btn-orange btn-block custom-btn">
                      Cambiar
                    </button>
                  </div>
              </form>
        </div>
    </div>
</Section>
