<Section class="Content">
    <div class="Columnas">
        <div class="Columna">
            <h3>Editar Perfil</h3>
            <form>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Nombre"
                    name="Nombre"
                    required
                    minlength="3"
                    maxlength="20"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control custom-input"
                    placeholder="Correo electronico"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Numero Telefono"
                    type="text"
                    class="form-control custom-input"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                    <input
                      placeholder="Direccion"
                      type="text"
                      class="form-control custom-input"
                      required
                      minlength="6"
                    />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-orange btn-block custom-btn">
                      Guardar
                    </button>
                  </div>
              </form>
        </div>
        <div class="Columna">
            <h3>Cambiar contraseña</h3>
            <form>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control custom-input"
                    name="password1"
                    placeholder="Contraseña"
                    required
                    minlength="6"
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Confirmar Contraseña"
                    type="password"
                    class="form-control custom-input"
                    name="password"
                    required
                    minlength="6"
                  />
      
                </div>
                <div class="form-group">
                    <button class="btn btn-orange btn-block custom-btn">
                      Cambiar
                    </button>
                  </div>
              </form>
        </div>
    </div>
</Section>
