<nav class="navbar navbar-expand-lg navbar-light x">
  <a class="navbar-brand" href="#">
    <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
      <li class="nav-item">
        <a class="nav-link text" href="#">Rutas</a>
      </li>
      <li class="nav-item text">
        <a class="nav-link" href="#">Operadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" routerLink="/drivers-list">Conductores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text  active"><span class="sr-only">(current)</span>Gerentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" href="#">Gastos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text" href="#">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text " >Cerrar sesión</a>
      </li>
    </ul>
  </div>
</nav>

<Section class="Content">
  <div class="Columnas">
    <div class="Columna">
      <h3>Editar Perfil</h3>
      <form (ngSubmit)="onSubmit()" class="was-validated" name="formOpt">
        <input type="email" placeholder="Correo" class="form-control custom-input" name="correoEdit" [(ngModel)]="mailOpt">
        <input type="number" placeholder="numero" class="form-control custom-input" name="numberEdit" [(ngModel)]="numberOpt">
        <button type="submit" class="btn btn-clear btn-block custom-btn"> Crear</button>
      </form>
    </div>
  </div>
</Section>
