<nav class="navbar navbar-expand-lg navbar-light x">
    <a class="navbar-brand" href="#">
        <img src="../../assets/whitebrand.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- Agregar la clase ml-auto -->
            <li class="nav-item">
                <a class="nav-link text" href="#" style="color: white;font-weight: 200;">Envíos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text active" [routerLink]="['/warehouse-list/']"
                    style="color: white; font-weight: 500;"><span class="sr-only">(current)</span>Bodegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" style="color: white; font-weight: 200;" href="#">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text " style="color: white; font-weight: 200;">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>
<div class="Pantalla">
    <section>
        <h1>Editar Alquiler Bodega</h1>
        <section class="Content">
            <div class="form-group inpt">
                Ubicacion
                <input type="text" class="form-control custom-input" placeholder="Bogota" name="Ubicacion" required minlength="3"
                />
              </div>
              <div class="form-group inpt">
                Volumen de la carga
                <input type="text" class="form-control custom-input" placeholder="2000" name="ocupacion" required minlength="3"
                />
              </div>
              <div class="form-vertical">
                <label for="">Fecha de fin</label>
                <input type="date" class="form-control datepicker custom-input" name="fechaf"
                    placeholder="Fecha de fin"  />
                </div>
              <div class="form-group inpt">
                <button class="btn btn-orange btn-block custom-btn">Guardar Cambio</button>
              </div>
        </section>
    </section>
</div>
