<header class="Continer">
  <section class="SeccionSU">
    <div class="mi-seccion-titulo">
      <img src="assets/icono.png" width="100" alt="Título con imagen" (click)="navegarAPantallaInicial()"> 
      <h4>IntelliTrack</h4>
      <p class="parrafo">Bienvenido(a) a IntelliTrack, por favor coloca tus credenciales para empezar a usar la mejor aplicación de logística y transporte.</p>
    </div>
    <div class="sectionForm">
      <div class="mi-seccion-columna mi-seccion-columna-izquierda">
        <div class="formContainer">
          <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Nombre"
              name="Nombre"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control custom-input"
              name="password1"
              placeholder="Contraseña"
              [(ngModel)]="form.password"
              required
              minlength="6"
              #password1="ngModel"
            />
          </div>
          <div class="form-group">
            <input
              placeholder="Confirmar Contraseña"
              type="password"
              class="form-control custom-input"
              name="password"
              [(ngModel)]="form.password1"
              required
              minlength="6"
              #password="ngModel"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control custom-input"
              placeholder="Numero telefonico"
              [(ngModel)]="form.phonenumber"
              name="Nombre"
              required
              minlength="3"
              maxlength="20"
            />
          </div>
        </form>
        </div>
      </div>
      <div class="mi-seccion-columna mi-seccion-columna-derecha">
        <div class="formContainer">
          <form>
        <div class="form-group">
          <input
            type="email"
            class="form-control custom-input"
            name="Correo Electronico"
            [(ngModel)]="form.email"
            placeholder="Correo electronico"
            required
            email
            #email="ngModel"
          />
        </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control custom-input"
              [(ngModel)]="form.enterprisename"
              placeholder="Nombre de la Empresa"
              required
              minlength="3"
              maxlength="20"          />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control custom-input"
              placeholder="Nit de la empresa"
              [(ngModel)]="form.nit"
              name="Nombre"
              required
              minlength="3"
              maxlength="20" 
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control custom-input"
              [(ngModel)]="form.position"
              placeholder="Cargo de la empresa"
              required
              minlength="3"
              maxlength="20"/>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-orange btn-block custom-btn">Regístrate</button>
    </div>
    <div class="iniciarconten">
      ¿Ya tiene cuenta?
      <a href="" class="textIniciar">Iniciar sesión</a>
    </div>
  </section>
</header>