<body class="Continer">
  <div class="im">
    <img class="img4" src="assets/icono.png" alt="Título con imagen">
    <h3 class="r">IntelliTrack</h3>
  </div>
  <div class="spinner" *ngIf="loading"></div>
  <section class="SeccionSU" *ngIf="!loading">
    <div class="mi-seccion-titulo">
      <img src="assets/icono.png" width="100" alt="Título con imagen" (click)="navegarAPantallaInicial()">
      <h4>IntelliTrack</h4>
      <p class="parrafo">Bienvenido(a) a IntelliTrack, por favor coloca tus credenciales para empezar a usar la mejor aplicación de logística y transporte.</p>
    </div>
    <div class="sectionForm">
      <div class="mi-seccion-columna mi-seccion-columna-izquierda">
        <div class="formContainer">
          <form>
          <div class="form-group">
            <input
              type="text"
              class="form-control custom-input"
              placeholder="Nombre"
              name="username"

              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
            <div *ngIf="form.usernameisValid" class="text-danger">
                          </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="{{ showPassword ? 'text' : 'password' }}"
                     class="form-control custom-input"
                     name="password1"
                     placeholder="Contraseña"
                     [(ngModel)]="form.password"
                     required
                     minlength="10"
                     name="password"
                     #password1="ngModel"
                     (ngModelChange)="validatePasswords()" />

              <div class="input-group-append">
                <span class="input-group-text"
                      style="cursor: pointer;"
                      (click)="showPassword = !showPassword">
                  <i class="fa fa-eye{{ showPassword ? '-slash' : '' }}" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <div *ngIf="form.passwordisValid" class="text-danger">
              Contraseña inválida, mínimo 1 mayúscula, minúsculas,un simbolo y mínimo 10 digitos
            </div>
          </div>

          <div class="form-group">
            <input
              placeholder="Confirmar Contraseña"
              type="password"
              class="form-control custom-input"
              name="password"
              [(ngModel)]="form.password1"
              name="password1"
              required
              minlength="10"
              #password="ngModel"
              (ngModelChange)="validatePasswords()"
            />
            <div *ngIf="form.passwordMismatch" class="text-danger">
              Las contraseñas no coinciden
            </div>
          </div>

          <div class="form-group">
            <input
              type="number"
              class="form-control custom-input"
              placeholder="Número celular"
              [(ngModel)]="form.phonenumber"
              name="phonenumber"
              required
              minlength="10"
              maxlength="10"
            />
            <div *ngIf="form.phonenumberisValid" class="text-danger">
              El número de teléfono debe ser de 10 digitos
            </div>
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control custom-input"
              placeholder="Documento"
              [(ngModel)]="form.cedula"
              name="cedula"
              required
              minlength="3"
              maxlength="20"
            />
            <div *ngIf="form.cedulaisValid" class="text-danger">

            </div>
          </div>
        </form>
        </div>
      </div>
      <div class="mi-seccion-columna mi-seccion-columna-derecha">
        <div class="formContainer">
          <form>
        <div class="form-group">
          <input
            type="email"
            class="form-control custom-input"
            name="Correo Electronico"
            [(ngModel)]="form.email"
            placeholder="Correo electrónico"
            required
            email
            #email="ngModel"
          />
          <div *ngIf="form.emailisValid" class="text-danger">
            El correo electrónico no es válido
          </div>
        </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control custom-input"
              [(ngModel)]="form.empresa"
              placeholder="Nombre de la Empresa"
              required
              name="empresa"
              minlength="3"
              maxlength="20"          />
              <div *ngIf="form.enterprisenameisValid" class="text-danger">
                Ingrese el nombre de la empresa
              </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="form-group flex-grow-1">
              <input
                type="number"
                class="form-control custom-input"
                placeholder="Nit de la empresa"
                [(ngModel)]="form.nit"
                name="Nit"
                required
                maxlength="9"
                (input)="onNitInput()"
              />
            </div>
            <span class="mx-2 h6">-</span>
            <div class="form-group">
              <input
                type="number"
                class="form-control custom-input"
                placeholder="Último digito"
                class="form-control custom-input form-control-sm"
                [(ngModel)]="form.nit2"
                name="nit2"
                required
                maxlength="1"
                size="1"
                style="width: 30px;"
              />

            </div>
          </div>
          <div *ngIf="form.nit2isValid" class="text-danger">
            Ingrese digito final del NIT
          </div>
          <div *ngIf="form.nitisValid" class="text-danger">
            Ingrese Nit de la empresa valido
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-orange btn-block custom-btn" style="font-size: 16px; color: white" (click)="register()">Crear Cuenta</button>
    </div>
    <div class="iniciarconten">
      ¿Ya tiene cuenta?
      <a href="" class="textIniciar"  routerLink="/login" >Iniciar sesión</a>
    </div>
    <div *ngIf="isSignUpFailed" style="font-size: 16px" class="alert alert-danger" role="alert">
      Registro fallo: {{ errorMessage }}
    </div>
  </section>
</body>
