.Continer {
    width: 160vh;
    height: 100vh;
    background: linear-gradient(to right, #FF6E59 50%, #424549 50%);
    background-size: cover;
  }

  .SeccionSU{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 800px;
    height: 90%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mi-seccion-titulo {
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
  align-content: center;
}
.parrafo{
  text-align: left;
}

.sectionForm{
  justify-content: space-around;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: row;
  padding: none;
}

.input-lg {
  height: 150px;
}

.mi-seccion-columna {
  flex-direction: column;
  width: 40%;
  height: 40%;
}

.custom-input {
  border-radius: 15px;
  background-color: #F2F3F7;
  border: none;
}


.iniciarconten{
  text-align: center;
  text-decoration-color: #A1A4B2;
}

.textIniciar{
  color: #FF6E59;
}

.btn-orange {
  background-color: #FF6E59; /* aquí puedes cambiar el color de fondo */
  border-color: #FF6E59; /* aquí puedes cambiar el color del borde */
  color: black; /* aquí puedes cambiar el color de la letra */
  border-radius: 20px; 
  width: 300px;
}

.custom-btn:focus,
.custom-btn:hover {
  background-color: #FF6E59; /* aquí puedes cambiar el color de fondo en estado :hover y :focus */
  border-color: #FF6E59; /* aquí puedes cambiar el color del borde en estado :hover y :focus */
  color: black; /* aquí puedes cambiar el color de la letra en estado :hover y :focus */
  box-shadow: none; /* aquí puedes cambiar la sombra */
  align-items: center;
}
